/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  background-image: url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png");
   background-size: cover;
}
nav{
  position: absolute;
    top: 20px;
    left: 700px;
    justify-content: center;
    border-radius: 12px;
    background: #FFF;
    padding: 0 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1; /* set z-index to 1 */
}
.nav-content{
    display: flex;
    height: 120px;
    align-items: center;
    list-style: none;
    position: relative;
}
.link-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
    width: 95px;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active{
    transform: translateY(-10px);
}
.link-icon{
    font-size: 38px;
    color: #353842;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active .link-icon{
    color: black;
}
.link-text{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: black;
    opacity: 0;
    transform: translateY(32px);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active .link-text{
    opacity: 1;
}
.indicator {
  position: absolute;
  top: -14px;
  left: 58px;
  height: 36px;
  width: 36px;
  background-image: url('https://cdn-icons-png.flaticon.com/512/7757/7757839.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(-50%);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.indicator::before,
.indicator::after{
    content: '';
    position: absolute;
    bottom: -8px;
    height: 24px;
    width: 19px;
}
.indicator::before{
    left: -22px;
    background-color: #FFF;
    border-top-right-radius: 25px;
    /* box-shadow: 1px -13px black; */
}
.indicator::after{
    right: -22px;
    background-color: #FFF;
    border-top-left-radius: 25px;
    /* box-shadow: -1px -13px black; */
}

  .grid-container {
    display: grid;
    margin-top: 550px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
    grid-row-gap: 100px;
}

i {
    font-size: 2em;
    color: black;
  }

  .container {
    width: 400px;
    height: 250px;
  }
  
  .terminal_toolbar {
    border: 1px solid white;

    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #474541;
    justify-content: space-between;
  }
  
  .butt {
    display: flex;
    align-items: center;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    font-size: 8px;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;
    background: linear-gradient(#7d7871 0%, #595953 100%);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
  }
  
  .btn-color {
    background: #ee411a;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .butt--exit {
    background: linear-gradient(#f37458 0%, #de4c12 100%);
  }
  
  .add_tab {
    border: 1px solid #fff;
    color: #fff;
    padding: 0 6px;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    cursor: pointer;
    
  }
  
  .user {
    color: #d5d0ce;
    margin-left: 6px;
    font-size: 14px;
    line-height: 15px;

  }
  
  .terminal_body {
    border: 1px solid white;
    background: #010001;
    height: calc(100% - 30px);
    padding-top: 2px;
    margin-top: -1px;
    font-size: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .terminal_promt {
    display: flex;
  }
  
  .terminal_promt span {
    margin-left: 4px;
  }
  
  .terminal_user {
    color: #1eff8e;
  }
  
  .terminal_location {
    color: #4878c0;
  }
  
  .terminal_bling {
    color: #dddddd;
  }
  
  .terminal_cursor {
    display: block;
    height: 14px;
    width: 5px;
    margin-left: 10px;
    animation: curbl 1200ms linear infinite;
  }
  
  @keyframes curbl {
  
    0% {
      background: #ffffff;
    }
  
    49% {
      background: #ffffff;
    }
  
    60% {
      background: transparent;
    }
  
    99% {
      background: transparent;
    }
  
    100% {
      background: #ffffff;
    }
  }
  .wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
  }
  .card1 {
    font-family: monospace;
    margin-top: 40px;
    width: 440px;
    height: 280px;
    background: rgb(19, 3, 3);
    border: 2px solid #000;
    border-radius: 15px;
  }
  a {
    text-decoration: none;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
  
  .dots {
    display: flex;
    justify-content: last baseline;
  }
  
  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  
  .dot-1 {
    background-color: rgb(0, 132, 255);
  }
  
  .dot-2 {
    background-color: rgb(230, 0, 255);
  }
  
  .dot-3 {
    background-color: rgb(0, 255, 89);
  }
  
  .top p {
    font-size: 20px;
    font-weight: bold;
  }
  
  .dot , .top p {
    margin: 5px;
  }
  
  .g-color {
    color: darkgreen;
  }
  
  .bottom {
    margin-top: 1px;
    padding: 0 25px;
  }
  
  .code {
    font-size: 15px;
  }
  
  .red {
    color: rgb(210, 63, 52);
  }
  
  .violet {
    color: rgb(181, 40, 203);
  }
  
  .blue {
    color: rgb(91, 131, 223);
  }
  
  .orange {
    color: rgb(195, 128, 3);
  }
  
  .white {
    color: rgb(163, 163, 163);
  }
  .space-2 {
    margin-left: 17px;
  }

  .space-4 {
    margin-left: 35px;
  }
  
  .space-4x2 {
    margin-left: 70px;
  }
  
  .card {
    width: 254px;
    height: 190px;
    /* width: 300px;
    height:  300px; */
    transform: rotate(90deg);
    background: #00BCD4;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition-duration: 1.5s;
    transition-property: width, height,transform;
   }
   
   .card:hover {
    width: 190px;
    height: 254px;
    transform: rotate(0deg);
     /* -ms-transform:rotate(90deg);
     -webkit-transform:rotate(90deg); */
   }
   
   .card__content {
    padding: 1rem;
    font-size: smaller;
   }
   
   .card__date {
    color: white;
    margin-bottom: .5rem;
    font-weight: 700;
   }
   
   .card__info {
    width: 100%;
    height: 200px;
    padding: .7rem;
    font-size: smaller;
    border-radius: 1rem;
    text-align: center;
    background-color: #fae4c3;
    color: #fae4c3;
    transition-duration: 1s;
    transition-property: color;
   }
   
   .card__info:hover {
    color: #212121;
   }
   
   