<link href="{{ url_for('static',filename='css/test.css') }}" rel="stylesheet">
<!-- <link href="{{ url_for('static',filename='css/temp.css') }}" rel="stylesheet"> -->
<script defer="defer" src="{{ url_for('static',filename='js/test.js') }}"></script>
<script src="https://kit.fontawesome.com/51706dcb62.js" crossorigin="anonymous"></script>

<nav class="nav">
  <ul class="nav-content">
    <li class="nav-list">
      <a href="#" class="link-item active">
        <i class="fa-solid fa-house-chimney-crack"></i>
        <span class="link-text">Home</span>
      </a>
    </li>
    <li class="nav-list">
      <a href="#" class="link-item">
        <i class="bx bxs-caret-right-square link-icon"></i>
        <span class="link-text">Content</span>
      </a>
    </li>
    <li class="nav-list">
      <a href="#" class="link-item">
        <i class="bx bxs-bar-chart-square link-icon"></i>
        <span class="link-text">Analytics</span>
      </a>
    </li>
    <li class="nav-list">
      <a href="#" class="link-item">
        <i class="bx bxs-message-rounded link-icon"></i>
        <span class="link-text">Comments</span>
      </a>
    </li>
    <li class="nav-list">
      <a href="#" class="link-item">
        <i class="bx bxs-user link-icon"></i>
        <span class="link-text">Profile</span>
      </a>
    </li>

    <span class="indicator"></span>
  </ul>
</nav>
<div class="grid-container">
  <div class="container">
    <div class="terminal_toolbar">
        <div class="butt">
            <button class="btn btn-color"></button>
            <button class="btn"></button>
            <button class="btn"></button>
        </div>
        <p class="user">johndoe@admin: ~</p>
        <div class="add_tab">
            +
        </div>
    </div>
    <div class="terminal_body">
        <div class="terminal_promt">
            <span class="terminal_user">johndoe@admin:</span>
            <span class="terminal_location">~</span>
            <span class="terminal_bling">$</span>
            <span class="terminal_cursor"></span>
        </div>
    </div>
</div>
<div class="container">
  <div class="terminal_toolbar">
      <div class="butt">
          <button class="btn btn-color"></button>
          <button class="btn"></button>
          <button class="btn"></button>
      </div>
      <p class="user">johndoe@admin: ~</p>
      <div class="add_tab">
          +
      </div>
  </div>
  <div class="terminal_body">
      <div class="terminal_promt">
          <span class="terminal_user">johndoe@admin:</span>
          <span class="terminal_location">~</span>
          <span class="terminal_bling">$</span>
          <span class="terminal_cursor"></span>
      </div>
  </div>
</div>
<div class="container">
  <div class="terminal_toolbar">
      <div class="butt">
          <button class="btn btn-color"></button>
          <button class="btn"></button>
          <button class="btn"></button>
      </div>
      <p class="user">johndoe@admin: ~</p>
      <div class="add_tab">
          +
      </div>
  </div>
  <div class="terminal_body">
      <div class="terminal_promt">
          <span class="terminal_user">johndoe@admin:</span>
          <span class="terminal_location">~</span>
          <span class="terminal_bling">$</span>
          <span class="terminal_cursor"></span>
      </div>
  </div>
</div>
<div class="container">
  <div class="terminal_toolbar">
      <div class="butt">
          <button class="btn btn-color"></button>
          <button class="btn"></button>
          <button class="btn"></button>
      </div>
      <p class="user">johndoe@admin: ~</p>
      <div class="add_tab">
          +
      </div>
  </div>
  <div class="terminal_body">
      <div class="terminal_promt">
          <span class="terminal_user">johndoe@admin:</span>
          <span class="terminal_location">~</span>
          <span class="terminal_bling">$</span>
          <span class="terminal_cursor"></span>
      </div>
  </div>
</div>
<div class="container">
  <div class="terminal_toolbar">
      <div class="butt">
          <button class="btn btn-color"></button>
          <button class="btn"></button>
          <button class="btn"></button>
      </div>
      <p class="user">johndoe@admin: ~</p>
      <div class="add_tab">
          +
      </div>
  </div>
  <div class="terminal_body">
      <div class="terminal_promt">
          <span class="terminal_user">johndoe@admin:</span>
          <span class="terminal_location">~</span>
          <span class="terminal_bling">$</span>
          <span class="terminal_cursor"></span>
      </div>
  </div>
</div>
<div class="container">
    <div class="terminal_toolbar">
        <div class="butt">
            <button class="btn btn-color"></button>
            <button class="btn"></button>
            <button class="btn"></button>
        </div>
        <p class="user">johndoe@admin: ~</p>
        <div class="add_tab">
            +
        </div>
    </div>
    <div class="terminal_body">
        <div class="terminal_promt">
            <span class="terminal_user">johndoe@admin:</span>
            <span class="terminal_location">~</span>
            <span class="terminal_bling">$</span>
            <span class="terminal_cursor"></span>
        </div>
    </div>
</div><div class="container">
  <div class="terminal_toolbar">
      <div class="butt">
          <button class="btn btn-color"></button>
          <button class="btn"></button>
          <button class="btn"></button>
      </div>
      <p class="user">johndoe@admin: ~</p>
      <div class="add_tab">
          +
      </div>
  </div>
  <div class="terminal_body">
      <div class="terminal_promt">
          <span class="terminal_user">johndoe@admin:</span>
          <span class="terminal_location">~</span>
          <span class="terminal_bling">$</span>
          <span class="terminal_cursor"></span>
      </div>
  </div>
</div>

<div class="container">
    <div class="terminal_toolbar">
        <div class="butt">
            <button class="btn btn-color"></button>
            <button class="btn"></button>
            <button class="btn"></button>
        </div>
        <p class="user">johndoe@admin: ~</p>
        <div class="add_tab">
            +
        </div>
    </div>
    <div class="terminal_body">
        <div class="terminal_promt">
            <span class="terminal_user">johndoe@admin:</span>
            <span class="terminal_location">~</span>
            <span class="terminal_bling">$</span>
            <span class="terminal_cursor"></span>
        </div>
    </div>
</div>
<div class="container">
    <div class="terminal_toolbar">
        <div class="butt">
            <button class="btn btn-color"></button>
            <button class="btn"></button>
            <button class="btn"></button>
        </div>
        <p class="user">johndoe@admin: ~</p>
        <div class="add_tab">
            +
        </div>
    </div>
    <div class="terminal_body">
        <div class="terminal_promt">
            <span class="terminal_user">johndoe@admin:</span>
            <span class="terminal_location">~</span>
            <span class="terminal_bling">$</span>
            <span class="terminal_cursor"></span>
        </div>
    </div>
</div><div class="container">
  <div class="terminal_toolbar">
      <div class="butt">
          <button class="btn btn-color"></button>
          <button class="btn"></button>
          <button class="btn"></button>
      </div>
      <p class="user">johndoe@admin: ~</p>
      <div class="add_tab">
          +
      </div>
  </div>
  <div class="terminal_body">
      <div class="terminal_promt">
          <span class="terminal_user">johndoe@admin:</span>
          <span class="terminal_location">~</span>
          <span class="terminal_bling">$</span>
          <span class="terminal_cursor"></span>
      </div>
  </div>
</div>

  
</div>