<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="icon" href="{{ url_for('static',filename='images/logo.ico') }}">
    <link href="{{ url_for('static',filename='css/style1.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style.css"> -->

    <title>Project</title>
</head>

<body>
   <script defer="defer" src="{{ url_for('static',filename='js/annoy_me.js') }}"></script>
    <!-- <script src="{{ url_for('static',filename='js/annoy_me.js') }}"></script> -->
</body>
<div class="login-page">
    <div class="avatar">
      <img src="https://cdn.pixabay.com/photo/2014/04/02/14/10/female-306407_960_720.png" alt="Avatar">
    </div>
    <div class="form">
      <h2>Login</h2>
      <form method="POST" action="/dashboard">
        <input type="email" name="email" id="email"   placeholder="Email" class = "input-box" required>
        <input type="password" name="password" placeholder="Password" id="password" required autocomplete>
        <select name = "mode">
          <option value="Normal">Normal</option>
          <option value="Developer">Developer</option>
          <option value="Linux">Linux</option>
        </select>
        <button id="submitBtn">Submit</button>
      </form>
      <p class="message">Not registered? <a href="/signup">Create an account</a></p>

    </div>
  </div>

</html>